<div class="user-header text-center">
  <h1 class="title-medium">
    <%= @user.name %>
  </h1>

  <div class="buffer-both">
    <%= link_to 'Редактировать профиоль', edit_user_path(@user) if current_user == @user %>
  </div>

  <div class="user-image-div">
    <%= image_tag user_avatar(@user), class: 'user-image', alt: '[Фото]' %>
  </div>

  <h2 class="title-small buffer-both">
    @<%= @user.username %>
  </h2>

  <div class="user-ask-button container text-center">
    <%= link_to "Спроси меня", '', class: 'button button-light', id: 'ask-button' %>
  </div>
</div>


<div class="user-question-form-div column-1-4 column-1-4-right" id='ask-form'>
  <div class="user-question-form buffer-both">
    <div class="form">
      <%= form_for @new_question do |f| %>
        <%= f.hidden_field :user_id %>

        <div class="form-field">
          <%= f.label "Ваш вопрос для @#{@user.username}", class: 'form-label' %>
          <%= f.text_area :text, class: 'form-textarea' %>
        </div>

        <div class="form-action">
          <%= submit_tag 'Задать вопрос', class: 'button button-small button-dark' %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="colimn-3-4">
  <div class="user-questions buffer-both">
    <div class="question-list">
      <% @questions.each do |question| %>
        <%= render partial: 'questions/question', object: question %>
      <% end %>

      <%# number_of_questions = @questions.count %>
      <%# answered_questions = number_of_questions - @no_answered_questions %>

<!--      <p>-->
<!--        У вас <%#= number_of_questions %>-->
          <%#= endings(number_of_questions, 'вопрос', 'вопроса', 'вопросов') %>
<!--      </p>-->
<!--      <p>-->
<!--        Ответили на <%#= answered_questions %>-->
<!--          <%#= endings(answered_questions, 'вопрос', 'вопроса', 'вопросов') %> <br>-->
<!--             Осталось ответить на <%#= @no_answered_questions %>-->
              <%#= endings(@no_answered_questions, 'вопрос', 'вопроса', 'вопросов') %>
<!--      </p>-->
    </div>
  </div>
</div>